@import url("header.css");
@import url("main.css");
@import url("conteudo.css");
@import url("footer.css");


:root{
    --cor-de-fundo: #FFFFFF; 
    --fonte-principal: "Poppins";

}

body {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;  /*para ocupar toda a pagina use isso*/
    width: 100vw;
    /*praticamanete config padrao pras pg*/
    justify-content:flex-start;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box; /*utilizar isto garante q os elementos nao vao pro lado escondido da pagina*/
    overflow-x: hidden;

}

h1 {
 background-color: #FFFFFF;
}

